.mapboxgl-popup-content {color: blue; background-color: yellow;}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-bottom: none;
    border-top-color: yellow;
} 